# https://esphome.io/components/servo.html
# https://esphome.io/components/output/pca9685.html

substitutions:
  servo_channel: '0'
  servo_id: servo_id
  servo_name: servo
  servo_category: ""

output:
  - platform: pca9685
    id: ${servo_id}_output
    channel: ${servo_channel}

servo:
  - id: ${servo_id}
    output: ${servo_id}_output

api:
  services:
    - service: ${servo_id}-control
      variables:
        level: float
      then:
        - servo.write:
            id: ${servo_id}
            level: !lambda 'return level / 100.0;'
