# https://randombytes.substack.com/p/using-the-adafruit-stemma-soil-sensor

substitutions:
  device_name: Stemma Soil Sensor
  temperature_name: ${name_prefix} temperature
  moisture_name: ${name_prefix} moisture

sensor:
  - platform: custom
    lambda: |-
      auto soil_sensor = new StemmaSoilSensor();
      App.register_component(soil_sensor);
      return {soil_sensor->temperature_sensor, soil_sensor->moisture_sensor};
    sensors:
      - name: ${temperature_name}
      - name: ${moisture_name}