substitutions:
  pin: GPIO36
  update_interval: 10s
  battery_level_id: battery_level
  battery_level_name: ${device_name} battery level

sensor:
  - platform: adc
    id: ${battery_level_id}
    name: ${battery_level_name}
    pin: ${pin}
    update_interval: ${update_interval}
    entity_category: diagnostic
    device_class: battery
    accuracy_decimals: 1
    attenuation: auto
    filters:
      - sliding_window_moving_average:
          window_size: 15
          send_every: 15
          send_first_at: 1
      - multiply: 1.6
      - lambda: |-
          auto r = ((x - 3) / 0.69 * 100.00);
          if (r >= 100) return 100;
          if (r > 0) return r;
          if (r <= 0) return 1;
          return 0;
    unit_of_measurement: "%"
